.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 4400px;
    line-height: 1.33;
    border-radius: 35px;
    background-color: rgb(0, 197, 204);
    
  }

  .textfield{
    width: 4000px;
    height: 65px;
    outline: 0;
    border:2px solid #a1a1a1;
    padding:10px 40px; 
    background:#dddddd;
    width:200px;
    border-radius:25px;
  }
  

  .checked {
    text-decoration: line-through;
    opacity: 0.5;
  }

.body {
  margin-top: 150px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
} 

.todos {
  font-size: 23px;
}


.titre {
  margin-left: 40%;
  font-size: 50px;
}


